<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="google.css">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Google</title>
</head>

<body>
																<header>
<ul id="header">
<li><a href="erreur.html">Gmail</a></li>
<li><a href="erreur.html">Images</a></li>
<li><<%= image_tag "music.png"%></li></li>
<li><%= image_tag "googleplus.png" height="24" width="24" %></li>
</ul>
																</header>




                              <%= image_tag "google.jpg" id="logo" %>

<div class="barre">
	<form >
		<input type="text" name="recherche" class="barre" />
	</form>
</div>
<div id="micro">
	<%= image_tag "voice.png "%>
</div>

		<div id="boutons">
			<button>Recherche Google</button>
			<button>J'ai de la chance</button>
		</div>

<footer>
<ul id="footergauche">
<li> <a href="#">Publicité</a></li>
<li> <a href="#">Entreprise</a></li>
<li> <a href="#">A propos</a></li>
</ul>
<ul id="footerdroit">
<li> <a href="#">Confidentialité</a></li>
<li> <a href="#">Conditions</a></li>
<li> <a href="#">Paramètres</a></li>
</ul>
</footer>

</body>
</html>
